Meeting Summarizer.json
{
  "name": "Meeting Summarizer",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/tmp",
        "events": [
          "add",
          "change"
        ],
        "options": {
          "awaitWriteFinish": true
        }
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        -48
      ],
      "id": "36e730da-9fc4-4287-bc82-2ec9ac91a628",
      "name": "Local File Trigger"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        160,
        -48
      ],
      "id": "f09b5662-4f56-4ddd-91e9-2427d7d5e530",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        384,
        -48
      ],
      "id": "99088fdf-9aa6-42d4-b10e-61e3b5ee5ad7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// Extract participants and date from transcript text\nreturn items.map(item => {\n    const text = item.json.data || '';\n    const blocks = text.split(/\\n\\n/).filter(b => b.trim());\n    const participants = [...new Set(blocks.map(b => b.split('\\n')[0].trim()).filter(p => p))];\n    const participantsHint = participants.length > 0 ? participants.join(', ') : 'None detected - extract from transcript';\n    const dateRegex = /\\b(\\d{4}-\\d{2}-\\d{2})\\b/g;\n    let extractedDate = text.match(dateRegex) ? text.match(dateRegex)[0] : new Date().toISOString().split('T')[0];\n    return {\n        json: {\n            ...item.json,\n            participantsHint,\n            extractedDate\n        }\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -48
      ],
      "id": "b0478bec-cabc-435a-981b-5b57de79fb13",
      "name": "Extract Metadata"
    },
    {
      "parameters": {
        "url": "={{ $json.gitSystemPromptURL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -64,
        208
      ],
      "id": "1861a84f-c3c9-4bf5-a4e1-ef0d09ba61bc",
      "name": "Fetch System Prompt"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "options": {
          "encoding": "utf8",
          "fileName": "={{ $('Store file info').item.json.filenameNoExt }}.{{ Math.floor(Math.random() * 1000) }}.md"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -64,
        624
      ],
      "id": "62483493-f24f-4758-b75e-ba589a4a6de9",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "command": "=rm \"{{ $('Store file info').item.json.filenameFullPath }}\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        384,
        624
      ],
      "id": "c752eed6-9d0f-4801-9493-67fb40ed818d",
      "name": "Delete local transcription file"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the transcript to summarize.\nDefault Due Date: {{ $now.plus({days: 7}).toFormat('yyyy-MM-dd') }}\nExtracted Participants (hints): {{ $('Store file info').item.json.participantsHint }}\nExtracted Date (hint): {{ $('Store file info').item.json.extractedDate }}\n\n<transcript>\n{{ $('Extract from File').item.json.data }}\n</transcript>\n\nPlease generate the summary now following the OUTPUT TEMPLATE.",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.data }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        160,
        208
      ],
      "id": "3234eacb-3e29-481a-8897-eea25b6c2fc1",
      "name": "Summarize Transcript"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        160,
        448
      ],
      "id": "f55b2e36-5168-48b5-b4da-032feb6cc5c5",
      "name": "Claude Sonnet 4.5"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen/qwen3-30b-a3b-2507",
          "mode": "list",
          "cachedResultName": "qwen/qwen3-30b-a3b-2507"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        352,
        448
      ],
      "id": "ace3527b-80e9-442f-9daa-60ffbfef4bbf",
      "name": "qwen/qwen3-30b-a3b-2507"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node - Remove file extension from filename\n// Works with single items or multiple items\n\nreturn items.map(item => {\n    const filename = $('Read/Write Files from Disk').first().json.fileName; // adjust field name as needed\n\n    if (!filename || typeof filename !== 'string') {\n        return item; // return unchanged if no valid filename\n    }\n\n    // Remove the extension (everything after the last dot)\n    // But preserve hidden files like \".gitignore\" or \".env\"\n    const cleanedFilename = filename.replace(/\\.[^/.]+$/, '');\n\n    // Return the item with the new filename (you can name the output field whatever you want)\n    return {\n        json: {\n            ...item.json,\n            filenameNoExt: cleanedFilename,\n            // Optionally keep original:\n            // filename: filename,\n        }\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -48
      ],
      "id": "27a0f675-fbe0-416a-9aad-a0437e97a452",
      "name": "Strip file extension"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d92fcf22-31bf-4994-8790-d62e784d7570",
              "name": "filenameNoExt",
              "value": "={{ $json.filenameNoExt }}",
              "type": "string"
            },
            {
              "id": "42add7da-af06-4f83-9f92-2d46c6d9ee72",
              "name": "filenameFullPath",
              "value": "={{ $('Local File Trigger').item.json.path }}",
              "type": "string"
            },
            {
              "id": "e99a29ea-e18c-4864-ba43-38c02ff4147b",
              "name": "gitSystemPromptURL",
              "value": "https://raw.githubusercontent.com/dloomis/n8n-meeting-summarizer/main/system-prompt.md",
              "type": "string"
            },
            {
              "id": "participants-hint-id",
              "name": "participantsHint",
              "value": "={{ $json.participantsHint }}",
              "type": "string"
            },
            {
              "id": "extracted-date-id",
              "name": "extractedDate",
              "value": "={{ $json.extractedDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        -48
      ],
      "id": "f7efa843-9144-4f76-9c64-f77d3eb7e596",
      "name": "Store file info"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/summaries/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        160,
        624
      ],
      "id": "ca8e3b94-bbda-498e-bae9-d1051d7c4ab3",
      "name": "Write file to Obsidian"
    }
  ],
  "pinData": {},
  "connections": {
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Extract Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Metadata": {
      "main": [
        [
          {
            "node": "Strip file extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch System Prompt": {
      "main": [
        [
          {
            "node": "Summarize Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Write file to Obsidian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Transcript": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet 4.5": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Transcript",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Strip file extension": {
      "main": [
        [
          {
            "node": "Store file info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store file info": {
      "main": [
        [
          {
            "node": "Fetch System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write file to Obsidian": {
      "main": [
        [
          {
            "node": "Delete local transcription file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f335b112-6cd8-41ad-bd56-80eab9107374",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc95f5dcf8564dad8406657e222d807a38320c03e61ffe53bddcf6037399e437"
  },
  "id": "elv9LGYfxKP6T8DN",
  "tags": []
}