Meeting Summarizer.json
{
  "name": "Meeting Summarizer",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/tmp",
        "events": [
          "add",
          "change"
        ],
        "options": {
          "awaitWriteFinish": true
        }
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        -240
      ],
      "id": "21beb7b8-cbda-4dec-817e-375fe9f777aa",
      "name": "Local File Trigger"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        112,
        -240
      ],
      "id": "7b7bd697-f9a5-4dad-beaf-5b23dac13b6b",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        336,
        -240
      ],
      "id": "e54f908e-fc11-4ef6-9ba8-014b970c7cba",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node - Remove file extension from filename\n// Works with single items or multiple items\n\nreturn items.map(item => {\n    const filename = $('Read/Write Files from Disk').first().json.fileName; // adjust field name as needed\n\n    if (!filename || typeof filename !== 'string') {\n        return item; // return unchanged if no valid filename\n    }\n\n    // Remove the extension (everything after the last dot)\n    // But preserve hidden files like \".gitignore\" or \".env\"\n    const cleanedFilename = filename.replace(/\\.[^/.]+$/, '');\n\n    // Return the item with the new filename (you can name the output field whatever you want)\n    return {\n        json: {\n            ...item.json,\n            filenameNoExt: cleanedFilename,\n            // Optionally keep original:\n            // filename: filename,\n        }\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -240
      ],
      "id": "55e9a93d-e75d-498d-9f70-28bd40927f4b",
      "name": "Strip file extension"
    },
    {
      "parameters": {
        "dataType": "boolean",
        "value1": true,
        "rules": {
          "rules": [
            {
              "value2": "={{ $json.evergreenTopic !== null }}",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 0
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -112,
        176
      ],
      "id": "3b06e9cc-5314-4eb6-9305-b60fc2e81f2b",
      "name": "Route by Type"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "filenameNoExt",
              "name": "filenameNoExt",
              "value": "={{ $json.filenameNoExt }}",
              "type": "string"
            },
            {
              "id": "filenameFullPath",
              "name": "filenameFullPath",
              "value": "={{ $('Local File Trigger').item.json.path }}",
              "type": "string"
            },
            {
              "id": "gitSystemPromptURL",
              "name": "gitSystemPromptURL",
              "value": "https://raw.githubusercontent.com/dloomis/n8n-meeting-summarizer/main/system-prompt.md",
              "type": "string"
            },
            {
              "id": "participantsHint",
              "name": "participantsHint",
              "value": "={{ $json.participants }}",
              "type": "array"
            },
            {
              "id": "extractedDate",
              "name": "extractedDate",
              "value": "={{ $json.extractedDate }}",
              "type": "string"
            },
            {
              "id": "importantParticipants",
              "name": "importantParticipants",
              "value": "={{ $json.names }}",
              "type": "array"
            },
            {
              "id": "e689e5d0-6be1-4845-a843-330bd4393fa7",
              "name": "evergreenTopic",
              "value": "={{ $json.evergreenTopic }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        -240
      ],
      "id": "565e4512-d32c-4d0d-b888-ff708d1ab014",
      "name": "Store file info"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/dloomis/n8n-meeting-summarizer/main/evergreen-prompt.md",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        256,
        384
      ],
      "id": "0228f639-e37c-4bf3-869f-a5821c2731b3",
      "name": "Fetch Evergreen Prompt"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/evergreen/[0 - EDIT THIS FILE]{{ $binary.data.fileName }}",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1184,
        384
      ],
      "id": "e6c1e5b3-53d2-446f-b168-5e070322df9a",
      "name": "Write Evergreen to Obsidian"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-5-20251101",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.5"
        },
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        560,
        208
      ],
      "id": "d79c3f27-4a5c-46e4-88df-c4fd4282960e",
      "name": "Claude Sonnet 4.5"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen/qwen3-30b-a3b-2507",
          "mode": "list",
          "cachedResultName": "qwen/qwen3-30b-a3b-2507"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        736,
        208
      ],
      "id": "ec3fd73f-5bb6-4d91-954e-3fd859158c42",
      "name": "qwen/qwen3-30b-a3b-2507"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen/qwen3-30b-a3b-2507",
          "mode": "list",
          "cachedResultName": "qwen/qwen3-30b-a3b-2507"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        736,
        592
      ],
      "id": "810a9959-fc2b-480a-a72b-48865f4df3da",
      "name": "qwen/qwen3-30b-a3b-"
    },
    {
      "parameters": {
        "command": "=rm \"{{ $('Store file info').item.json.filenameFullPath }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1520,
        192
      ],
      "id": "f5d580a0-4b18-4804-a755-10627120da42",
      "name": "Delete local transcription file",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "output",
        "options": {
          "encoding": "utf8",
          "fileName": "={{ $('Store file info').item.json.filenameNoExt }}.{{ Math.floor(Math.random() * 1000) }}.md"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        928,
        0
      ],
      "id": "15866f29-268c-4a37-919a-380908a5fc5e",
      "name": "Convert Meeting Summary to File"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "output",
        "options": {
          "encoding": "utf8",
          "fileName": "={{ $('Parse file name arguments').item.json.evergreenTopic }}.md"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        928,
        384
      ],
      "id": "d51b29f6-f3da-44e4-9aad-3d2db758813f",
      "name": "Convert Evergreen Note to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/summaries/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1184,
        0
      ],
      "id": "316ef5bd-5b56-4165-aa86-ecdfbe9849a0",
      "name": "Write Meeting Summary to Obsidian"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        560,
        592
      ],
      "id": "18568436-4c62-45d9-a0ee-8797d24ac33c",
      "name": "Claude Opus 4.5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the transcript to summarize.\nDefault Due Date: {{ $now.plus({days: 7}).toFormat('yyyy-MM-dd') }}\nExtracted Participants (hints): {{ $('Store file info').item.json.participantsHint.join(', ') }}\nExtracted Date (hint): {{ $('Store file info').item.json.extractedDate }}\nImportant Participants for Prioritization: {{ $('Store file info').item.json.importantParticipants.join(', ') }}\n\n<transcript>\n{{ $('Extract from File').item.json.data }}\n</transcript>\n\nPlease generate the summary now following the OUTPUT TEMPLATE.",
        "options": {
          "systemMessage": "={{ $json.data }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        560,
        0
      ],
      "id": "44084c72-db44-4c2a-9ae6-c93d5a71ef17",
      "name": "Summarize Meeting Transcript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please generate the evergreen note now on this CONCEPT: {{ $('Store file info').item.json.evergreenTopic }} using this TRANSCRIPT: {{ $('Parse Metadata').item.json.data }}",
        "options": {
          "systemMessage": "={{ $json.data }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        560,
        384
      ],
      "id": "02ca5109-5d24-47e9-aaca-65a50e91fd28",
      "name": "Create Evergreen Note"
    },
    {
      "parameters": {
        "url": "={{ $json.gitSystemPromptURL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        256,
        0
      ],
      "id": "e2edc6d8-f647-4e04-aa82-55c88a05c3aa",
      "name": "Fetch Summary Prompt"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n    const filename = item.json.filenameNoExt || '';\n    \n    /**\n     * Parses a filename for person names after '!' and evergreen topic after '#'.\n     * Names are extracted after '!' until '#' or end, split by commas.\n     * Topic is extracted after the last '#' if present.\n     * @param {string} filename - The filename to parse (without extension)\n     * @returns {object} Object with 'names' array and 'evergreenTopic' string or null\n     */\n    function parseFilename(filename) {\n        let names = [];\n        let evergreenTopic = null;\n        \n        // Find '!' for names\n        const bangIndex = filename.indexOf('!');\n        if (bangIndex !== -1) {\n            let namePart = '';\n            for (let i = bangIndex + 1; i < filename.length; i++) {\n                if (filename[i] === '#') {\n                    break;\n                }\n                namePart += filename[i];\n            }\n            names = namePart.split(',')\n                .map(name => name.trim())\n                .filter(name => name.length > 0);\n        }\n        \n        // Find last '#' for evergreen topic\n        const hashIndex = filename.lastIndexOf('#');\n        if (hashIndex !== -1) {\n            evergreenTopic = filename.substring(hashIndex + 1).trim();\n        }\n        \n        return {\n            names,\n            evergreenTopic\n        };\n    }\n    \n    const { names, evergreenTopic } = parseFilename(filename);\n    \n    return {\n        json: {\n            ...item.json,\n            names,\n            evergreenTopic\n        }\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -240
      ],
      "id": "4ead6c4a-0b26-4215-af2e-68bca7452a45",
      "name": "Parse file name arguments"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n    const text = item.json.data || '';\n    const blocks = text.split(/\\n\\n/).filter(b => b.trim());\n    const participants = [...new Set(blocks.map(b => b.split('\\n')[0].trim()).filter(p => p))];\n    const dateRegex = /\\b(\\d{4}-\\d{2}-\\d{2})\\b/g;\n    let extractedDate = text.match(dateRegex) ? text.match(dateRegex)[0] : new Date().toISOString().split('T')[0];\n    return {\n        json: {\n            ...item.json,\n            participants,\n            extractedDate\n        }\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -240
      ],
      "id": "54dbf4ab-a157-4b23-b3dd-9d575b1ba6fd",
      "name": "Parse Metadata"
    }
  ],
  "pinData": {},
  "connections": {
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Parse Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strip file extension": {
      "main": [
        [
          {
            "node": "Parse file name arguments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "Fetch Summary Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Evergreen Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store file info": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Evergreen Prompt": {
      "main": [
        [
          {
            "node": "Create Evergreen Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Evergreen to Obsidian": {
      "main": [
        [
          {
            "node": "Delete local transcription file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet 4.5": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Meeting Transcript",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Convert Meeting Summary to File": {
      "main": [
        [
          {
            "node": "Write Meeting Summary to Obsidian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Evergreen Note to File": {
      "main": [
        [
          {
            "node": "Write Evergreen to Obsidian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Meeting Summary to Obsidian": {
      "main": [
        [
          {
            "node": "Delete local transcription file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Opus 4.5": {
      "ai_languageModel": [
        [
          {
            "node": "Create Evergreen Note",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Meeting Transcript": {
      "main": [
        [
          {
            "node": "Convert Meeting Summary to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Evergreen Note": {
      "main": [
        [
          {
            "node": "Convert Evergreen Note to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Summary Prompt": {
      "main": [
        [
          {
            "node": "Summarize Meeting Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse file name arguments": {
      "main": [
        [
          {
            "node": "Store file info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Metadata": {
      "main": [
        [
          {
            "node": "Strip file extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ecb425e4-6fab-48d9-92c3-9a20283bfe20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc95f5dcf8564dad8406657e222d807a38320c03e61ffe53bddcf6037399e437"
  },
  "id": "eQXiPWGAUdrJLVEo",
  "tags": []
}
